$bg-color: #fffdf7;
$bg-color-two: #242323;

$text-color: #242323;
$text-color-two: #fffdf7;

$primary: #04724d;
$secondary: #5d65e8;
$third: #046a48;
$gray: #afafaf;

$hero-color: rgb(30, 30, 30, 0.5);
// #e85f5c

// background-color: #e4e4e4;
